* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #08090a;
    background-image: url(/pics/bg-dark.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

header {
    width: 100%;
    padding: 16px 24px;
    height: 65px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: background 0.3s ease;

}


nav {
    margin: 0 210px;
}

nav .logo svg {
    width: 104px;
    height: 24px;
    color: #fcfcfc;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    align-content: center;
}

nav ul li {
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.navlink li {
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
}

.navlink {
    padding-left: 120px;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 5px 12px;
    background-color: lab(100% 0 0 / .05);
    border: none;
    outline: none;
    margin-left: 10px;
    border-radius: 18px;
    font-family: "Inter", sans-serif;
    line-height: 23px;
}


.btn-white {
    background-color: #ffffff;
    color: rgb(3.146% 3.532% 3.918%);
}

main {
    margin: 0 220px;
    /* border: 1px solid red; */
}

.hero {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;


}

.capsul {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 4px 4px 4px;
    background-color: Lab(100 0 0/0.2);
    border-radius: 15px;
}

.capsul svg {
    height: 16px;
    width: 16px;
    color: #ffffff;

}

.capsul button {
    padding: 2px 8px;
    font-size: 12px;
    color: #ffffff;
    background-color: #0c8c5e;
    border: none;
    outline: none;
    line-height: 18px;
    font-weight: 500;
    border-radius: 12px;
}

.capsul span {
    font-size: 14px;
    line-height: 21px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.hero .heading {
    padding-top: 40px;
    color: #fff;
    font-size: 61px;
    line-height: 71px;
    font-weight: 600;
    text-align: center;
}

.hero p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    padding-top: 25px;
}

.hero .heroimg {
    margin-top: 100px;
    border-radius: 25px;
}

.card {
    margin-bottom: 180px;
}

.cards .last-card {
    color: #fff;
}

.card .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 65px 65px;
    row-gap: 25px;
    column-gap: 10px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.build {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.build h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.build p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffffb3;
    text-align: center;
    font-size: 400;
    margin-bottom: 40px;

}

.build img {
    width: 1024px;
    height: 535px;
}

.build .first-img {
    margin-bottom: 14px;
}

.all-txt {
    background-color: lab(100% 0 0 / .05);
    padding: 96px 250px 0 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.all-txt h4 {
    color: #18e299;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Geist Mono", monospace;
    margin-bottom: 15px;

}

.all-txt h3 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
}

.all-txt .txt-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.all-txt .txt-btn p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffffb3;
}

.all-txt .txt-btn button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    padding: 7px 24px;
    background-color: #fff;
    color: #08090a;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.card-img {
    background-color: lab(100% 0 0 / .05);
    padding: 96px 250px 50px 250px;
}

.card-img .card-svg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 60px;
}

.main-card svg {
    height: 32px;
    width: 32px;
    color: #18e299;
}

.main-card h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 15px;
}

.main-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffffb3;
    letter-spacing: -0.2px;
}

.card-img img {
    width: 100%;
}


.text {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

.text .green {
    color: #18e299;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Geist Mono", monospace;
    margin-bottom: 15px;
}

.text h3 {
    font-size: 40px;
    line-height: 44px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 15px;
}

.text :last-child {
    color: #ffffffb3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 42px;
}

.unlock img {
    height: 503px;
    margin-left: 272px;
}

.documentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 190px;
}

.documentation h3 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.documentation p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    padding-top: 13px;
}


.documentation .button button {
    padding: 7px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    outline: none;
}

.documentation .button {
    margin-top: 40px;
}

.documentation .button :first-child {
    background-color: #fff;
    color: #08090a;
}

.container .svg-con svg {
    height: 32px;
    width: 32px;
    color: #18e299;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.footer-card {
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 150px;
    border-bottom: 1px solid rgba(37, 37, 37, 0.816);
    padding-bottom: 100px;
}

.container .h4 {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
    padding-top: 30px;
}

.container .plane {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;

}



.container .green {
    color: #18e299;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    padding-top: 40px;
}

footer {
    margin: 0 250px;
    border-left: 1px solid  rgba(37, 37, 37, 0.816);
    border-right: 1px solid  rgba(37, 37, 37, 0.816);
    border-bottom: 1px solid  rgba(37, 37, 37, 0.816);
}

.footer-logo svg {
    height: 24px;
    width: 104px;
    color: #fff;
}

.contact-logo li svg {
    height: 21px;
    width: 21px;
    color: #676868;
}

.contact-logo li {
    list-style: none;
}

.footer-nav {
    padding: 64px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  rgba(37, 37, 37, 0.816);
}

.footer-nav .contact-logo {
    display: flex;
    gap: 18px;
}

footer .list {
    padding: 48px 32px 72px 32px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  rgba(37, 37, 37, 0.816);
}

.list ul li {
    list-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding-bottom: 20px;
}

.list ul .first-item {
    color: #ffffff80;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.sec-nav {
    display: flex;
    align-items: center;
    padding: 24px 32px;
    gap: 20px;
    border-bottom: 1px solid  rgba(37, 37, 37, 0.816);
}

.sec-nav img {
    width: 60px;
    border-radius: 360px;
}

.sec-nav p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #fff;
}

footer .final {
    padding: 32px 32px 96px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final .one svg {
    height: 12px;
    width: 12px;
}

.final .one p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
}

.final .one {
    background-color: lab(100% 0 0 / .05);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
    border-radius: 15px;
}

.final .two {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: lab(100% 0 0 / .5);
}

.final .three img {
    height: 28px;
    width: 76px;
    border-radius: 15px;
}